* {
	font-size: 14px;
	font-family: monospace;
}

window#waybar {
	background-color: transparent;
	color: #fdf6e3;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#bluetooth,
#cpu,
#battery,
#disk,
#tray {
	background: #1a1a1a;
}

#workspaces {
	border-radius: 20px;
	border: 2px rgba(38, 156, 210, 0.671) solid;
	margin: 0 2px 0 5px;

}
#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.active {
	color: #fdf6e3;
	border-radius: 20px;
	background-color: rgba(38, 156, 210, 0.671);
	padding: 0 4px;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: #1a1a1a;
	border: #1a1a1a;
	border-radius: 30px;
}

#pulseaudio {
	color: #268bd2;
	border-radius: 20px;
	margin: 0 5px 2px 5px;
	border: 2px rgba(38, 138, 210, 0.671) solid;
}
#memory {
	color: #2aa198;
	border-radius: 20px;
	margin: 0 5px 2px 5px;
	border: 2px rgba(42, 161, 152, 0.500) solid;
}
#bluetooth {
	color: #2aa198;
	border-radius: 20px;
	margin: 0 5px 2px 5px;
	border: 2px rgba(42, 161, 152, 0.500) solid;
}
#cpu {
	color: #6c71c4;
	border-radius: 20px;
	margin: 0 5px 2px 5px;
	border: 2px rgba(108, 113, 196, 0.500) solid;
}
#battery {
	color: #859900;
	border-radius: 20px;
	margin: 0 5px 2px 5px;
	border: 2px rgba(133, 153, 0, 0.500) solid;
}
#disk {
	color: #b58900;
	border-radius: 20px;
	margin: 0 5px 2px 5px;
	border: 2px rgba(181, 136, 0, 0.500) solid;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#bluetooth,
#battery,
#disk {
	padding: 0 10px;
}

#pulseaudio {
	padding: 0 10px;
}

#clock{
	border-radius: 20px;
	margin: 0 5px 2px 5px;
	border: 2px rgba(255, 255, 255, 0.5) solid;
}